body{
    background-color: black
}

.a{
    background-color:#000000;
}

.one{
    padding: 2% 0 2% 5%;;
}

.line{
    background-color: white;
}

.fa-globe{
    color: rgb(221, 18, 79);
}

.footer{
    padding: 5% 0 0 0;
}



.d{
    border: 2px dotted black;
    margin: 10% 0 5% 0;
}
.bg{
    background-color: rgb(0, 0, 0);
}

.bgg{
    background-color: rgba(61, 137, 250, 0.836);
}

.small{
    padding: 5% 0 5% 0;
}


/*SOMETHING NEW*/
.heade{
    background-image: linear-gradient(rgb(71, 23, 67), black);
    padding: 5% 5%;
}

.bl{
    color: brown;
    padding: 30px 30px;
}

.c{
    margin-top: 5%;
}

.green{
    background-color: #368b6f;

}

.pink{
    background-color: pink;

}

.peach{
    background-color: rgb(231, 150, 80);
}

.grey{
    background-color: #00203fff;
}

.fa-briefcase, .fa-school, .fa-code, .fa-file{
    padding: 0;
    font-size: 80px;
    margin-bottom: 4%;
}

a{
    color: black;
}

button:hover{
    color: rgb(36, 35, 10);
    text-decoration: none;
}

a:hover{
    text-decoration: none;
    color: white;
}

.btn{
    margin-top: 4%;
}

.ft{
    margin-top: 10%;
    background-color: white;
}

.fa-code{
    color: green;
}

.fa-smile{
    font-size: 20px;
    color: rgb(245, 229, 2);
    padding: 0;
}

.fa-github, .fa-linkedin{
    color: white;
    font-size: 30px;
}

.f{
    margin-top: 8%;
}

h2{
    color: aqua;
    font-style: italic;
}
