.a{
    background-color:#000000;
}

.one{
    padding: 2% 0 2% 5%;;
}

.line{
    background-color: white;
}

.fas{
    color: rgb(126, 126, 245);
    padding-top: 30%;
    padding-right: 2%;
    padding-left: 30%;
}

.fa-user{
    color: rgb(83, 112, 2);
}

.footer{
    padding: 5% 0 0 0;
}



.d{
    border: 2px dotted black;
    margin: 10% 0 5% 0;
}
.bg{
    background-color: rgb(0, 0, 0);
}

.bgg{
    background-color: rgba(61, 137, 250, 0.836);
}

.small{
    padding: 5% 0 5% 0;
}

.t{
    padding-bottom: 20%;
}